<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>PerformanceFilter</filter-name>
  	<display-name>PerformanceFilter</display-name>
  	<description></description>
  	<filter-class>com.am.servers.PerformanceFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>SessionFilter</filter-name>
  	<display-name>SessionFilter</display-name>
  	<description></description>
  	<filter-class>com.am.servers.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>PerformanceFilter</filter-name>
  	<url-pattern>/Helloworld</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>Helloworld</servlet-name>
  	<display-name>Helloworld</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.Helloworld</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>Items</servlet-name>
  	<display-name>Items</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.ItemsInventory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemSearch</servlet-name>
  	<display-name>ItemSearch</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.ItemSearch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemTable</servlet-name>
  	<display-name>ItemTable</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.ItemTable</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddItem</servlet-name>
  	<display-name>AddItem</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.AddItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller</servlet-name>
  	<display-name>Controller</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EvaluateRequest</servlet-name>
  	<display-name>EvaluateRequest</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.EvaluateRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemSearch1</servlet-name>
  	<display-name>ItemSearch1</display-name>
  	<description></description>
  	<servlet-class>ItemSearch1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemSearch2</servlet-name>
  	<display-name>ItemSearch2</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.ItemSearch2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.am.servers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Helloworld</servlet-name>
  	<url-pattern>/Helloworld</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Items</servlet-name>
  	<url-pattern>/II</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemSearch</servlet-name>
  	<url-pattern>/ItemSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemTable</servlet-name>
  	<url-pattern>/ItemTable</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddItem</servlet-name>
  	<url-pattern>/AddItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EvaluateRequest</servlet-name>
  	<url-pattern>/EvaluateRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemSearch1</servlet-name>
  	<url-pattern>/ItemSearch1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemSearch2</servlet-name>
  	<url-pattern>/ItemSearch2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
</web-app>